<?xml version="1.0"?>
<configuration>
  <appSettings>
  <!-- -server "VSUSAdad01" -database "adeffx_system" -->
    <add key="ApplicationDatabaseServer" value="VSUSATAD03" />
    <add key="ApplicationDatabase" value="adeffx_system" />
	<add key="BackupSetName" value="PAR Snapshot" />
    <add key="DataCheckDatabase" value="adeffx_data_master" />
  </appSettings>
</configuration>