<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="StorageCenterHosts" value="PSUSADAE02,PSUSADAE01" />
	<add key="FullyQualifiedAdminUser" value="DATACENTER\csreplayadmin" />
    <add key="AdminUser" value="csreplayadmin" />
    <add key="AdminUserPassword" value="Ba11ParK" type="secure"/>
	<add key="Domain" value="office.yourCompany.com" />
	<add key="VmwareVCenterServer" value="VSUSAvcs01.office.yourCompany.com" />
    <add key="VmwareHosts" value="PSUSAvmw42.datacenter.yourCompany.com,PSUSAvmw43.datacenter.yourCompany.com,PSUSAvmw44.datacenter.yourCompany.com,PSUSAvmw46.datacenter.yourCompany.com,PSUSAvmw47.datacenter.yourCompany.com,PSUSAvmw48.datacenter.yourCompany.com,PSUSAvmw49.datacenter.yourCompany.com" />
  </appSettings>
</configuration>